@model List<CustomerListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    @foreach (var customer in @Model)
    {
    <tr>
        <td>@customer.ContactName</td>
        <td>@customer.OrdersCount</td>
    </tr>
    }
</table>
