@model List<CustomerListViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Contact Name</th>
            <th>Orders Count</th>
        </tr>
    </thead>
    @foreach (var customer in @Model)
    {
        <tr>
            <td>@customer.ContactName</td>
            <td>@customer.OrdersCount</td>
        </tr>
    }
</table>
